.calculator {
  margin-top: 50px;
  background: aquamarine;
  &__keys {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  &__key {
    font-size: 24px;
    list-style: none;
    padding: 20px;
  }
  &__input {
  }
}