.calculator {
  margin-top: 50px;
  background: linear-gradient(to bottom left, #F8B52D, #DE4694);
  &__keys {
  }
  &__key {
    font-size: 24px;
    padding: 20px;
  }
  &__calculation {
    background: transparent;
    border: none;
  }
}
