.black {
  color: #000; }

.white {
  color: #fff; }

/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 576px and up) */
/* Medium devices (desktops, 768px and up) */
/* Large devices (large desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 576px and up) */
/* Medium devices (desktops, 768px and up) */
/* Large devices (large desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.calculator {
  margin-top: 50px;
  background: linear-gradient(to bottom left, #F8B52D, #DE4694); }
  .calculator__key {
    font-size: 24px;
    padding: 20px; }
  .calculator__calculation {
    background: transparent;
    border: none; }
